<h1> Edit Product </h1>

<%= form_tag "/products/#{@product.id}", method: :patch do %>

	Name: <input type="text" name="product_name" value="<%= @product.name %>">
<br>	
	Price: <input type="text" name="product_price" value="<%= @product.price %>">
<br>	
	Description: <input type="text" name="product_description" value="<%= @product.description %>">
<br>
	In-Stock: <input type="text" name="product_stock" value="<%= @product.stock %>">
<br>
	Weight: <input type="text" name="product_weight" value="<%= @product.weight %>">
<br>
	Supplier ID: <input type="text" name="product_supplier_id" value="<%= @product.supplier_id %>">
<br>
	User ID: <input type="text" name="product_user_id" value="<%= @product.user_id %>">
<br>
<input type="submit" value="edit_pet">

<% end %>